.section{
    display: flex;
    padding: 15px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 100px;
    width: 90%;
    margin: 0 auto;      
}

.text1{
    padding-top: 100px;
    padding-bottom: 100px;
}

.text1 h2{
    font-size: 46px;
}

.text1 p{
    font-size: 23px;
}

.text1 form{
    display: flex;
    gap: 20px;
}

.caixa{
    width: 200px;
    height: 35px;
}

.buttom{
    background-color: #2036df;
    color: #fff;
    border: 2px solid transparent;
    width: 200px;
    height: 40px;
    font-size: 18px;
}


