.sectionTwo{
    display: flex;
    padding: 15px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
    margin: 0 auto; 
}

.text1 h2{
    font-size: 46px;
}

.text1 p{
    font-size: 23px;
}

.link{
    color: rgb(41, 132, 99);
}

.bloco{
    width: 500px;
    height: 50px;
    border-radius: 1px solid #746f6fd2;
}

