.acess{
    background-color: rgb(99, 91, 255); 
    color: aliceblue;
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.acess h2{
    font-size: 38px;
}

.acess p{
    font-size: 18px;
}

.text{
    width: 500px;
    padding: 30px 100px;
}

.form{
    width: 500px;
    padding: 30px 200px;
}

.caixa{
    background-color: rgb(254, 254, 254);
    width: 400px;
    height: 30px;
}

.buttom{
    background-color: #0e1a72;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 40px;
    font-size: 14px;
    margin-top: 15px;
}



.infor{
    background-color: rgb(6, 6, 109);
    color: aliceblue;
    padding: 20px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    padding: 30px 100px;
}

.logo{
    display: flex;
    flex-direction: column;
    font-size: small; 
   
}

.contact{
    display: flex;
    margin: 5px;   
    align-items: center; 
}

.contacttwo{
    display: flex;
    margin: 5px; 
    align-items: center;    
}

.image7{
    margin: 5px; 
    width: 15px;
    height: 15px;
}

.image8{
    margin: 5px;
    width: 15px;
    height: 15px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 20px 5px;
    width: 400px;
}

.linkstwo{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    list-style: none;
    padding: 20px 5px;
    width: 400px;
}

.links a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px; 
    align-items: center;
}

.linkstwo a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px; 
    align-items: center;
}

@media (max-width: 1024px) {

    .text{
        padding: 20px;
    
    }

    .form {
        width: 100px;
        padding: 30px;
    }

    .infor{
        padding: 30px;
    }

}

@media (max-width: 768px) {

    .text{
        width: 400px;
    }

    .form{
        width: 400px;
    }

    .infor{
        width: 692px;
    }
    .about{
        width: 300px;
    }
   
}

    @media (max-width: 426px) {
    
        .footer{
            margin-top: 0;
            display: block;
            width: 100%;
        }

        .caixa{
            width: 150px;
        }

        .infor{
            width: 350px;
        }
        .about{
            width: 200px;
        }
        
    }

    @media (max-width: 376px) {
    
        .infor{
            width: 300px;
            display: inline-block;
        }

        .logo{
            width: 200px;
            line-height: 0px;
            align-items: center;
            margin: 30px;
        }
        .about{
            width: 150px;
            margin: 30px;
        }
        
    }
